:root
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-mode
{
  --background-color: #ffffff;
  --text-color: #213547;
  --heading-color: #213547;
}

.dark-mode
{
  --background-color: #242424;
  --text-color: #e3e3e3;
  --heading-color: #e3e3e3;
}

body
{
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2
{
  color: var(--heading-color);
}

#app
{
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1
{
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2em;
  text-align: start;
}

h2
{
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2em;
  text-align: start;
}

h3
{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
  margin: 0;
  padding: 0;
  color: #646cff;
}

.navbar
{
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: #5057d8ce;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar a
{
  font-size: 1rem;
  font-weight: 500;
  color: #E3E3E3;
  text-decoration: none;
  transition: color 0.25s;
  text-wrap: nowrap;
}

.navbar a:hover
{
  color: #fbff19;
}

p
{
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
  text-wrap: wrap;
}

strong
{
  color: #646cff;
}

.portfolio-container
{
  max-width: 980px;
  margin: 0 auto;
}

.portfolio-body
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding-top: 3em;
}

.resume-cta
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

.resume-cta a
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resume-cta a img,
.project-description a img
{
  width: 25px;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding-right: 5px;
}

.experience-section,
.projects-section
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resume
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

.resume img
{
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.resume a,
.project-description a
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #454cd1;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  max-width: 200px;
}

.resume a:hover
{
  background-color: #2129be;
  cursor: pointer;
}

.experience-item,
.projects-item
{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: start;
  gap: 1.5em;
  margin-top: 2em;
  align-items: start;
  justify-items: start;
}

@media (max-width: 768px)
{

  .experience-item,
  .projects-item
  {
    grid-template-columns: 1fr;
  }
}

.experience-item p
{
  font-size: 1.1em;
  font-weight: 500;
}

@media (max-width: 480px)
{
  .resume-cta
  {
    display: flex;
    flex-direction: column;
  }
}

.projects-item-header
{
  width: 100%;
}

.projects-item-header img
{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-description
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#toggleButton img
{
  width: 20px;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding-right: 5px;
}

.about-me-section
{
  width: 100%;
}

.contact-section a img
{
  width: 60px;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding-right: 5px;
}

.contact-section a:hover img
{
  filter: invert(0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.footer
{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content
{
  width: 100%;
  margin: 0 auto;
}